# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
backend/venv/
venv/

# Django
*.sqlite3
staticfiles/
media/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
